<div class="flex">
  <div class="container p-2 m-2 w-96 grow">
    <%= if Map.has_key?(assigns, :q) do %>
      <p class="font-bold">
        Soal:
      </p>
      <p>
        {raw(@q.question)}
      </p>

      <p class="font-bold">
        Pilihan:
      </p>
      <ul>
        <.form for={@form} phx-change="choose" id="form">
          <input type="hidden" id="question" name="question" value={@q.id} />
          <input type="hidden" id="session_id" name="session_id" value={@session_id} />
          <li :for={o <- @q.options}>
            <label class="flex items-center gap-4 text-sm leading-6 text-zinc-600">
              <input
                name="answer"
                class="rounded border-zinc-300 text-zinc-900 focus:ring-0"
                type="radio"
                id={o["option"]}
                value={o["option"]}
                for="answer"
                checked={o["option"] == @your_answer}
              />
              {o["option"]}. {o["answer"]}
            </label>
          </li>
        </.form>
      </ul>
    <% else %>
      <p>Soal kosong</p>
    <% end %>
  </div>
  <div class="w-auto p-2">
    <ul>
      <li :for={{c, i} <- Enum.with_index(@c)} class="inline">
        <button
          class={"#{if @active_id == c.id, do: "bg-teal-200 outline-none ring ring-violet-300"} p-2 mr-1 mb-1 bg-red-200 rounded-sm "}
          phx-click="go_to"
          value={c.id}
        >
          {i + 1}
        </button>
      </li>
    </ul>
  </div>
</div>
